.books-page {
  width: 100%;
  padding: 20px;
  background-color: #f9f9f9;
  margin-top: 0px;
}

/* Search bar */
.search-container {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}

.group {
  position: relative;
  width: 100%;
  max-width: 420px;
}

.input {
  width: 100%;
  padding: 10px 16px 10px 40px;
  border-radius: 10px;
  border: 2px solid #ddd;
  font-size: 16px;
  background: #fff;
  transition: 0.2s ease;
}

.input:focus {
  border-color: #eae2b7;
  box-shadow: 0 0 0 4px rgba(234, 226, 183, 0.3);
}

.icon {
  position: absolute;
  left: 12px;
  top: 12px;
  width: 22px;
  height: 22px;
  fill: #999;
}

/* Books grid */
.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 25px;
  padding: 10px;
}
