.book-card {
  background-color: white;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s;
  position: relative;
}

.book-card:hover {
  transform: translateY(-5px);
}

.book-cover {
  position: relative;
  width: 100%;
  padding-top: 150%; /* ratio 2:3 */
  overflow: hidden;
}

.book-cover img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.favorite-overlay {
  position: absolute;
  top: 10px;
  right: 10px;
}

.book-info {
  padding: 10px 15px;
  text-align: center;
}

.book-info h3 {
  margin: 5px 0;
  font-size: 16px;
  font-weight: bold;
}

.book-info p {
  margin: 0;
  font-size: 14px;
  color: #555;
}
